/* style.css 08-09-2024 */
body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by Chrome, Opera, and many mobile browsers */
    touch-action: manipulation;  /* Improve touch behavior on some mobile devices */
}
.h1 {
    font-size: 32px;
    color: white;
}
.h1_yellow_font {
    font-size: 32px;
    color: yellow;
}
.normal {
    font-size: 16px;
    color: white;
}
.center {
    text-align: center;
}
.box {
    display: flex;
}

.box_15 {
    width: 10%;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box_35_left {
    font-size: 24px;
    text-align: left;
    width: 40%;
    background: gray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.box_35_right {
    font-size: 24px;
    text-align: right;
    width: 40%;
    background: gray;
    padding: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.char_health_bar {
    text-align: center;
    font-size: 18px;
    width: 40%;
    background: green;
}
.health_bar_spacer {
    width: 20%;
}
.enemy_health_bar {
    text-align: center;
    font-size: 18px;
    width: 40%;
    background: black;
    border: solid;
    border-color: white;
}
.enemy_health_fill {
    height: 100%; /* Fill the entire height of the bar */
    background-color: red; /* Color of the filled portion */
    width: 100%; /* Initially full width */
}
.location_box_style {
    font-size: 24px;
    background-color: #333;
    color: #00FFFF;
    padding-top: 20px;
    padding-bottom: 20px;
}
.location_eme_cnt {
    font-weight: normal;
    font-size: 18px;
    background-color: #333;
    color: lightgreen;
}
.location_box_style_20_left {
    width: 20%;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}
.location_box_style_20_right {
    font-size: 24px;
    width: 20%;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}
.location_box_style_60 {
    font-size: 24px;
    width: 60%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.enemy_levels_style_30_left {
    width: 30%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.enemy_levels_style_10 {
    width: 10%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* NEW */

.gold_div {
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white */
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 200px;
    line-height: 16px;
}
.gold_span {
    text-align: center;
    font-size: 16px;
    color: yellow;
    padding: 5px;
    display: inline-block;
    line-height: 16px;
    width: 190px;
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white */
}

.inv_parent {
    border: 1px solid #ccc;
    width: 490px;
}

.inv_slot_container {
    /* Default background color for non-empty slots */
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white */
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 100px;

}

.inv_slot {
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white */
    padding: 10px;
    text-align: center;
}

.inv_slot_counter {
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white */
    padding: 5px;
    text-align: right;
    padding-right: 5px;
    padding-bottom: 5px;
}

/*
// OLD

.inv_slot_container {
    border-style: solid;
    border-color: black;
    float: left;
    line-height: 76px;
    width: 100px;
    background-color: gray;
    /* EMPTY color #3B3B3B light #7C7C7C */
/*
// OLD
}

.inv_slot_counter {
    text-align: right;
    padding-right: 5px;
    padding-bottom: 5px;
    line-height: 16px;
    background-color: gray;
} */

/* BUTTONS */
.button {
    background-color: black;
    color: #FFCB30;
}
.button_container {
    white-space: nowrap;
}

/* MISC */
.remove-outline {
    outline: none;
}
.divsections {
    color: yellow;
    font-size: 18px;
    text-decoration: underline;
    padding: 10px;
}
.divsections_no_ul {
    color: yellow;
    font-size: 18px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}
.section_title {
    background-color: #1A1A1A;
    border-top: solid;
    border-bottom: solid;
}
.section_text {
    box-sizing: border-box;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}
.light_small {
    font-size: 12px;
    color: #CCCCCC;
}
.level {
  display: none; /* Initially hide all levels */
}
.active {
  display: block; /* Show the active level */
}
.details {
  display: none;
}
.crossed-out {
    text-decoration: line-through;
    display: inline;
}
.tooltip-style {
    border: thick solid #CCFFF8;
}
