/* style.css */
body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by Chrome, Opera, and many mobile browsers */
    touch-action: manipulation;  /* Improve touch behavior on some mobile devices */
}
.h1 {
    font-size: 32px;
    color: white;
}
.h1_yellow_font {
    font-size: 32px;
    color: yellow;
}
.normal {
    font-size: 16px;
    color: white;
}
.normal-small {
    font-size: 10px;
    color: white;
}
.normal-bold {
    font-size: 16px;
    color: white;
    font-weight: bold;
}
.center {
    text-align: center;
}
.box {
    display: flex;
}
/* Experience and health bars */
.bar_with_border_container {
    position: relative;  /* Position relative for inner elements */
    height: 20px;
    width: 100%;
    border: solid 1px white;
}
.bar_with_border_fill {
    background-color: blue;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.bar_with_border_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center text */
    color: white;  /* Ensure text is visible on blue background */
    z-index: 1;  /* Ensure text is above the fill bar */
    white-space: nowrap;  /* Prevent wrapping */
    font-size: 10px;
}
.bar_with_border_percent {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);  /* Center Y */
    color: white;  /* Ensure text is visible on blue background */
    z-index: 2;  /* Ensure text is above the fill/text bar */
    font-size: 10px;
}
.currency_gold {
    width: 10px;
    height: 10px;
    vertical-align = middle;
    padding-bottom = 2px;
}

.box_15 {
    width: 10%;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box_35_left {
    font-size: 24px;
    text-align: left;
    width: 40%;
    background: gray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.box_35_right {
    font-size: 24px;
    text-align: right;
    width: 40%;
    background: gray;
    padding: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.char_health_bar {
    text-align: center;
    font-size: 18px;
    width: 40%;
    background: green;
}
.health_bar_spacer {
    width: 20%;
}
.enemy_health_bar {
    text-align: center;
    font-size: 18px;
    width: 40%;
    background: black;
    border: solid;
    border-color: white;
}
.enemy_health_fill {
    height: 100%; /* Fill the entire height of the bar */
    background-color: red; /* Color of the filled portion */
    width: 100%; /* Initially full width */
}
.hide {
    visibility: hidden;
}
.show {
    visibility: visible;
}
.green_border_on {
    border: 5px solid green;
}
.green_border_off {
    border: 5px solid #333;
}
.location_box_style {
    font-size: 18px;
    background-color: #333;
    color: #00FFFF;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    overflow: auto;
}

/*
.location_box_style_20_left {
    font-size: 24px;
    width: 20%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.location_box_style_20_right {
    font-size: 24px;
    width: 20%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}*/

/* parent: location_box_style */
.location_box_style_60 {
    font-size: 24px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}
.location_eme_cnt {
    font-weight: normal;
    font-size: 18px;
    background-color: #333;
    color: lightgreen;
}
.enemy_levels_style_30_left {
    width: 30%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.enemy_levels_style_10 {
    width: 10%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* NEW */

.gold_div {
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white */
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 200px;
    line-height: 16px;
}
.gold_span {
    text-align: center;
    font-size: 16px;
    color: yellow;
    padding: 5px;
    display: inline-block;
    line-height: 16px;
    width: 190px;
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white */
}

.inv_parent {
    border: 1px solid #ccc;
    width: 368px;
}

.inv_slot_container {
    /* Default background color for non-empty slots */
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white */
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
}

.inv_slot {
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white */
    /*padding-top: 10px;
    padding-left: 10px;
    padding-right: 2px;*/
    text-align: center;
    height: 50px;
    position: relative;
    font-size: 6px;
}

.inv_slot_counter {
    z-index: 3;
    position: absolute;
    padding-bottom: 4px;
    bottom: 0;
    padding-right: 7px;
    right: 0;
}

/*
// OLD

.inv_slot_container {
    border-style: solid;
    border-color: black;
    float: left;
    line-height: 76px;
    width: 100px;
    background-color: gray;
    /* EMPTY color #3B3B3B light #7C7C7C */
/*
// OLD
}

.inv_slot_counter {
    text-align: right;
    padding-right: 5px;
    padding-bottom: 5px;
    line-height: 16px;
    background-color: gray;
} */

/* BUTTONS */
.button {
    background-color: black;
    color: #FFCB30;
}
.button_container {
    white-space: nowrap;
}

/* MISC */
.remove-outline {
    outline: none;
}
.divsections {
    color: yellow;
    font-size: 18px;
    text-decoration: underline;
    padding: 10px;
}
.divsections_no_ul {
    color: yellow;
    font-size: 18px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}
.section_title {
    background-color: #1A1A1A;
    border-top: solid;
    border-bottom: solid;
}
.section_text {
    box-sizing: border-box;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}
/* char equipment (new) */
#char_equipment_container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(6, 50px); /* 6 rows, each 50px tall */
    grid-template-areas:
        ". top ."
        "left image right"
        "left image right"
        "left image right"
        "left image right"
        ". bottom .";
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#char_equipment_image {
    grid-area: image;
    height: 240px;
    width: 80px;
    margin: 0 auto;
}

.top-box {
    grid-area: top;
    font-size: 10px;
    height: 50px;
    width: 50px;
    background-color: black;
    border: 1px solid white;
    margin: 0 auto;
}

.side-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.side-boxes.left {
    grid-area: left;
}

.side-boxes.right {
    grid-area: right;
}

.item-box {
    font-size: 10px;
    height: 50px;
    width: 50px;
    background-color: black;
    border: 1px solid white;
}

.bottom-boxes {
    grid-area: bottom;
    font-size: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.bottom-boxes .item-box {
    margin: 0;
}

/* char equipment (old) */
.char_equipment {
    background-image: url('media/char_equip.png');
    background-size: 80px 240px;
    background-position: 122px 170px;
    background-repeat: no-repeat;
    position: relative;  /* Ensure positioned elements inside can be laid out */
}
/* Haze div */
.haze_div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 0, 0.2); /* Green color with 200% transparency */
    z-index: 1; /* Ensures the haze div is on top */
}
.item_box_equip {
    font-size: 10px;
    text-align: center;
    background-color: black;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    min-height: 50px;
    display: inline-block;
    position: relative;
}
.new_slot_img {
    z-index: 2;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    padding-top: 5px;
    right: 0;
    padding-right: 5px;
    display: none;
}
.item_box_inv {
    font-size: 6px;
    text-align: center;
    background-color: black;
    height: 50px;
    width: 50px;
    /*border: 1px solid white;*/
    /*min-height: 50px;*/
    position: relative;
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white */
}
.item_tooltip {
    font-size: 18px;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 80%;
    border: 1px solid white;;
}
.item_tooltip_armor {
    font-size: 12px;
    color: lightyellow;
}
.light_small {
    font-size: 12px;
    color: #CCCCCC;
}
.i_slot_type {
    font-size: 12px;
    color: white;
}
.r_junk {
    font-size: 12px;
    color: gray;
}
.r_common {
    font-size: 12px;
    color: white;
}
.r_uncommon {
    font-size: 12px;
    color: lightgreen;
}
.r_rare {
    font-size: 12px;
    color: #007FFF; /* blue */
}
.r_epic {
    font-size: 12px;
    color: #FF40F9; /* pink */
}
.r_legendary {
    font-size: 12px;
    color: orange;
}
.r_ancient {
    font-size: 12px;
    color: #FF5959;
}
.light_small_bold {
    font-size: 12px;
    color: #CCCCCC;
    font-weight: bold;
}
.level {
  display: none; /* Initially hide all levels */
}
.active {
  display: block; /* Show the active level */
}
.details {
  display: none;
}
.crossed-out {
    text-decoration: line-through;
    display: inline;
}
.tooltip-style {
    border: thick solid #CCFFF8;
}
